/aodv/test
/*/test
/ns-allinone-3.28
!/ns-allinone-3.28/ns-3.28/scratch/*
!/ns-allinone-3.28/ns-3.28/src/custom/aodv/*
!/ns-allinone-3.28/ns-3.28/src/network-monitoring/*
!/ns-allinone-3.28/ns-3.28/src/clustering/*
/ns-allinone-3.28/ns-3.28/src/custom/aodv/model/*
/.vscode
do-adhoc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
