test
/aodv/test
/*/test
/ns-allinone-3.28
!/ns-allinone-3.28/ns-3.28/scratch/*
!/ns-allinone-3.28/ns-3.28/src/adhoc-routing/*
/ns-allinone-3.28/ns-3.28/src/custom/aodv/model/*
/.vscode
do-adhoc
/hardware_testing/pi
/monitoring/pcap-fun/read-packet
logs
wicap/wicap
*/main

#
hardware_monitoring_testing

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
